
@import '../../shared-styles/variables';

:global
{
    body
    {
        padding-top: 5rem;
    }
    .starter-template
    {
        padding: 3rem 1.5rem;

        text-align: center;
    }
}

.navbar
{
    color: white !important;
    background-color: #278ecd !important;
    img
    {
        width: 100px;
        height: auto;
    }
    a
    {
        color: white !important;
    }
    span
    {
        display: inline-block;

        margin-top: 6px;
    }
}
