
@import '../../shared-styles/variables';

:global
{
  body
  {
      padding-top: 5rem;
  }
  .starter-template
  {
      padding: 3rem 1.5rem;

      text-align: center;
  }
}

.welcome {
	color: white;
	display:block;
	padding-top: 10px;
}